[Unit]
Description=Private Crypto Dir

[Service]
Type=simple

ExecStartPre=mkdir -p %h/private
ExecStart=gocryptfs -fg -extpass 'systemd-ask-password "PD Master Password:"' %h/.private %h/private
