[Unit]
Description=Work Environment Login Session
After=private.service

[Service]
Type=oneshot

ExecStart=%h/.local/bin/pacsync
ExecStart=%h/.local/bin/github add
ExecStart=%h/.local/bin/wesync
ExecStart=%h/.local/bin/pacsync
RemainAfterExit=yes
ExecStop=%h/.local/bin/wesync
