# PC Local Dot Files
.ssh/
.cache/
.history
.bash_history
.zsh_history
.less*
*.wants/
*.requires/
.gitconfig
.rnd
.zcompdump*

# nvim
.config/nvim/.netrwhist
.local/share/nvim/

# elinks
.elinks/cookies
.elinks/globhist

# ranger
.local/share/ranger/*

# Private Dir
.private
private

# git
!.git/HEAD

# Home dir basics
downloads/*
!donwloads/.gitkeep
